<?xml version="1.0"?>
<config>
    <modules>
        <Kevlar_Core>
            <version>1.0.0</version>
        </Kevlar_Core>
    </modules>
    <kevlar>
        <environment>staging</environment>
        <indexBased>1</indexBased>
        <forceIndex>1</forceIndex>
        <autoWarm>0</autoWarm>
        <log>1</log>
        <email>cache@domain.com</email>
        <reply>no-reply@domain.com</reply>
        <providers>
            <akamai>
                <limit>100</limit>
                <domains>
                    <www>
                        <live>http://www.domain.com</live>
                        <backend>http://backend.www.domain.com</backend>
                    </www>
                </domains>
                <username>account@akamai.com</username>
                <password>password</password>
                <server>https://api.ccu.akamai.com</server>
                <enabled>0</enabled>
            </akamai>
            <varnish>
                <limit>100</limit>
                <domains>
                    <www>
                        <live>http://127.0.0.1:80</live>
                        <backend>http://node.domain.com</backend>
                    </www>
                </domains>
                <enabled>0</enabled>
            </varnish>
            <cloudflare>
                <smartPurge>0</smartPurge>
                <limit>100</limit>
                <domains>
                    <www>
                        <live>http://www.domain.com</live>
                        <backend>http://backend.www.domain.com</backend>
                    </www>
                    <mobile>
                        <live>http://m.domain.com</live>
                        <backend>http://backend.m.domain.com</backend>
                    </mobile>
                </domains>
                <domain>domain.com</domain>
                <email>account@cloudflare.com</email>
                <token>__YOUR__TOKEN__</token>
                <server>https://www.cloudflare.com/api_json.html</server>
                <enabled>0</enabled>
            </cloudflare>
        </providers>
    </kevlar>
    <global>
        <helpers>
            <kevlar>
                <class>Kevlar_Core_Helper</class>
            </kevlar>
        </helpers>
        <events>
            <cms_block_save>
                <observers>
                    <kevlar_core_model_observer_cms_block>
                        <class>Kevlar_Core_Model_Observer</class>
                        <method>cmsBlockSave</method>
                    </kevlar_core_model_observer_cms_block>
                </observers>
            </cms_block_save>
            <cms_page_revision_publish>
                <observers>
                    <kevlar_core_model_observer_cms_page>
                        <class>Kevlar_Core_Model_Observer</class>
                        <method>cmsPageRevisionPublish</method>
                    </kevlar_core_model_observer_cms_page>
                </observers>
            </cms_page_revision_publish>
            <catalog_category_save>
                <observers>
                    <kevlar_core_model_observer_catalog_category>
                        <class>Kevlar_Core_Model_Observer</class>
                        <method>catalogCategorySave</method>
                    </kevlar_core_model_observer_catalog_category>
                </observers>
            </catalog_category_save>
            <catalog_product_save>
                <observers>
                    <kevlar_core_model_observer_catalog_product>
                        <class>Kevlar_Core_Model_Observer</class>
                        <method>catalogProductSave</method>
                    </kevlar_core_model_observer_catalog_product>
                </observers>
            </catalog_product_save>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <kevlar_core_model_observer_order>
                        <class>Kevlar_Core_Model_Observer</class>
                        <method>afterOrderSave</method>
                    </kevlar_core_model_observer_order>
                </observers>
            </checkout_type_onepage_save_order_after>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <kevlar_core_model_observer_order>
                        <class>Kevlar_Core_Model_Observer</class>
                        <method>afterOrderSave</method>
                    </kevlar_core_model_observer_order>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
        <blocks>
            <kevlar>
                <class>Kevlar_Core_Block</class>
            </kevlar>
            <adminhtml>
                <rewrite>
                    <cms_block_edit_form>Kevlar_Core_Block_Adminhtml_Cms_Block_Edit_Form</cms_block_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <kevlar>
                <class>Kevlar_Core_Model</class>
                <resourceModel>kevlar_resource</resourceModel>
            </kevlar>
            <kevlar_resource>
                <class>Kevlar_Core_Model_Resource</class>
                <entities>
                    <queue>
                        <table>kevlar_queue</table>
                    </queue>
                </entities>
            </kevlar_resource>
        </models>
        <resources>
            <kevlar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </kevlar_write>
            <kevlar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </kevlar_read>
            <kevlar_setup>
                <setup>
                    <module>Kevlar_Core</module>
                    <class>Kevlar_Core_Model_Resource_Setup</class>
                </setup>
            </kevlar_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Kevlar_Core before="Mage_Adminhtml">Kevlar_Core_Adminhtml</Kevlar_Core>
                        <Kevlar_Core_Catalog before="Mage_Adminhtml_Catalog">Kevlar_Core_Adminhtml_Catalog</Kevlar_Core_Catalog>
                        <Kevlar_Core_Cms before="Mage_Adminhtml_Cms">Kevlar_Core_Adminhtml_Cms_Block</Kevlar_Core_Cms>
                        <Kevlar_Core_Cms_Page before="Enterprise_Adminhtml_Cms_Page">Kevlar_Core_Adminhtml_Cms_Page</Kevlar_Core_Cms_Page>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <kevlar>
                    <file>kevlar.xml</file>
                </kevlar>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <kevlar_cache_queue>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>kevlar/cron::process</model>
                </run>
            </kevlar_cache_queue>
            <kevlar_cache_queue_flush>
                <schedule>
                    <cron_expr>30 2 * * *</cron_expr>
                </schedule>
                <run>
                    <model>kevlar/cron::cleanUp</model>
                </run>
            </kevlar_cache_queue_flush>
        </jobs>
    </crontab>
</config>
